* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-rigth{    /*Posicionando formulario */
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}
.form-rigth label{
    display: block;
    margin-bottom: 20px;
}
.form-rigth input{  /* Estilizando campos do input*/
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    outline: 0;
}
.screen{
    display: flex;
    height: 100vh;  /* Tamanho disponivel do monitor*/

}
.image img{
    max-width: 500px;   /* Tamanho da imagem na tela*/
    height: auto;
}
